<div class="row">
		<div class="col-md-10 col-centered">

				<div class="well well-custom">

						<div class="well-header">
							<div class="well-title">
								Client Asset
							</div>

							<div class="well-right">
								<%= link_to 'Edit', edit_client_asset_path(@client_asset), class: 'btn btn-sm btn-success' %> |
								<%= link_to 'Back', show_assets_client_profile_path(@client_asset.client.client_profile), class: 'btn btn-sm btn-success' %>
							</div>
						</div>

						<div class="row">

							<div class="col-md-6" style="margin-bottom: 25px;">
							   <!-- Show this if no profile Image -->
							    <%= image_tag("450x300.jpg", alt: "#{@client_asset.name}.jpg") unless @client_asset.image.present? %>

							    <!-- Show this if there's a profile Image -->
							    <%= image_tag @client_asset.image.img_450.url, alt: "#{@client_asset.name}.jpg", class: "center-block" if @client_asset.image.present? %>
							</div>

							<div class="col-md-4">
								<table class="table borderless">

									<tr>
									  <td><strong>Name:</strong></td>
									  <td><%= @client_asset.name %></td>
									</tr>

									<tr>
									  <td><strong>Description:</strong></td>
									  <td><%= @client_asset.description %></td>
									</tr>
								</table>
							</div>
						</div>

				</div>


		</div>
</div>

