


<!-- Panel Table -->
<div class="panel panel-default">

  <div class="panel-heading panel-heading-custom">
    <div class="panel_title_to_the_left">
      Loan Manager Profiles
    </div>
  </div>

  
  <div class="table-responsive" >

    <table class="table table-striped">
      <thead>
        <tr>
          <th>User name</th>
          <th>Image</th>
          <th>Email</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Mobile</th>

          <!-- For the Action -->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @loan_manager_profiles.each do |loan_manager_profile| %>
            <% loan_manager = loan_manager_profile.loan_manager %>
            <tr>
              <td><%= loan_manager.user_name %></td>
              <td><%= image_tag loan_manager_profile.image.img_32.url, alt: "#{loan_manager.user_name}.jpg" %></td>
              <td><%= loan_manager.email %></td>
              <td><%= loan_manager.last_name %></td>
              <td><%= loan_manager.first_name %></td>
              <td><%= loan_manager_profile.mobile %></td>
             
              <td><%= link_to 'Show', loan_manager_profile %></td>
              <td><%= link_to 'Edit', edit_loan_manager_profile_path(loan_manager_profile) %></td>
              <td><%= link_to 'Destroy', loan_manager_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>

  </div>
  <!-- Table Responsive End -->

</div>
<!-- Table Panel End -->

<br>


