<p id="notice"><%= notice %></p>

<p>
  <strong>Loan manager:</strong>
  <%= @loan_manager_profile.loan_manager %>
</p>

<p>
  <strong>Image:</strong>
  <%= @loan_manager_profile.image %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @loan_manager_profile.sex %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @loan_manager_profile.birth_date %>
</p>

<p>
  <strong>Address:</strong>
  <%= @loan_manager_profile.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @loan_manager_profile.city %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @loan_manager_profile.zip_code %>
</p>

<p>
  <strong>Civil status:</strong>
  <%= @loan_manager_profile.civil_status %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @loan_manager_profile.mobile %>
</p>

<p>
  <strong>Company:</strong>
  <%= @loan_manager_profile.company %>
</p>

<p>
  <strong>Department:</strong>
  <%= @loan_manager_profile.department %>
</p>

<p>
  <strong>Employee category:</strong>
  <%= @loan_manager_profile.employee_category %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @loan_manager_profile.job_title %>
</p>

<p>
  <strong>Manager:</strong>
  <%= @loan_manager_profile.manager %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @loan_manager_profile.enabled %>
</p>

<%= link_to 'Edit', edit_loan_manager_profile_path(@loan_manager_profile) %> |
<%= link_to 'Back', loan_manager_profiles_path %>
