<!-- 2018-04-21

Title:
  Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
  Leopoldo Deogenes P. Cuesta II
  BS-IT Student
  AMA Computer University, College of East Rizal -->


  

<%= form_with(model: loan_type, local: true) do |form| %>
  <% if loan_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan_type.errors.count, "error") %> prohibited this loan_type from being saved:</h2>

      <ul>
      <% loan_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :loan_type_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :code %>
    <%= form.text_field :code, id: :loan_type_code, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :interest_mode %>
    <%= form.text_field :interest_mode, id: :loan_type_interest_mode, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :rate, 'Rate (e.g. 0.05)' %>
    <%= form.text_field :rate, id: :loan_type_rate, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :duration, "Duration in months" %>
    <%= form.text_field :duration, id: :loan_type_duration, class: 'form-control' %>

  </div>

  <div class="field form-group">
    <%= form.label :minimum, 'Minimum (Php)' %>
    <%= form.text_field :minimum, id: :loan_type_minimum, class: 'form-control' %>
  </div>


  <div class="field form-group">
    <%= form.label :maximum, 'Maximum (Php)' %>
    <%= form.text_field :maximum, id: :loan_type_maximum, class: 'form-control' %>
  </div>


  <div class="field">
    <%= form.label :repayment_method %>
    <%= form.text_field :repayment_method, id: :loan_type_repayment_method, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :loan_doc_ids , 'Required documents' %>
    <%= form.collection_check_boxes :loan_doc_ids, @loan_docs, :id, :name do | cb | %>
        <% cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox") + cb.text } %> 
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-lg btn-success" %>
  </div>
<% end %>

