<%= form_with(model: loan_type, local: true) do |form| %>
  <% if loan_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan_type.errors.count, "error") %> prohibited this loan_type from being saved:</h2>

      <ul>
      <% loan_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :loan_type_name %>
  </div>

  <div class="field">
    <%= form.label :code %>
    <%= form.text_field :code, id: :loan_type_code %>
  </div>

  <div class="field">
    <%= form.label :interest_mode %>
    <%= form.text_field :interest_mode, id: :loan_type_interest_mode %>
  </div>

  <div class="field">
    <%= form.label :rate %>
    <%= form.text_field :rate, id: :loan_type_rate %>
  </div>

  <div class="field">
    <%= form.label :duration, "Duration in months" %>
    <%= form.text_field :duration, id: :loan_type_duration %>

  </div>

  <div class="field">
    <%= form.label :minimum %>
    <%= form.text_field :minimum, id: :loan_type_minimum %>
  </div>


  <div class="field">
    <%= form.label :maximum %>
    <%= form.text_field :maximum, id: :loan_type_maximum %>
  </div>


  <div class="field">
    <%= form.label :repayment_method %>
    <%= form.text_field :repayment_method, id: :loan_type_repayment_method %>
  </div>

  <div class="field">
    <%= form.label :loan_doc_ids %>
    <%= form.collection_check_boxes :loan_doc_ids, @loan_docs, :id, :name do | cb | %>
        <% cb.label(class: "checkbox-inline input_checkbox") { cb.check_box(class: "checkbox") + cb.text } %> 
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
