<div class="row">
    <div class="col-md-10 col-centered">   
        <!-- Panel Table -->
        <div class="panel panel-default">

          <div class="panel-heading panel-heading-custom">
            <div class="panel_title_to_the_left">
              Loan Types
            </div>

            <div class="panel_buttons_to_the_right">
                <%= link_to 'New Loan Type', new_loan_type_path, class: 'btn btn-sm btn-success' %>
            </div>
          </div>

          <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Code</th>
                      <th>Interest mode</th>
                      <th>Rate</th>
                      <th>Duration in Months</th>
                      <th>Repayment method</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @loan_types.each do |loan_type| %>
                      <tr>
                        <td><%= loan_type.name %></td>
                        <td><%= loan_type.code %></td>
                        <td><%= loan_type.interest_mode %></td>
                        <td><%= number_to_percentage(loan_type.rate * 100, precision: 0) %></td>
                        <td><%= loan_type.duration %></td>
                        <td><%= loan_type.repayment_method %></td>
                        <td><%= link_to 'Show', loan_type %></td>
                        <td><%= link_to 'Edit', edit_loan_type_path(loan_type) %></td>
                        <td><%= link_to 'Destroy', loan_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
            </div>
            <!-- End table responsive -->

          </div>
          <!-- End Panel Body -->

        </div>
        <!-- Table Panel End -->

    </div>
    <!-- End of col-md-8 -->
</div>
<!-- Row End -->