<%= form_with(model: loan_installment, local: true) do |form| %>
  <% if loan_installment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan_installment.errors.count, "error") %> prohibited this loan_installment from being saved:</h2>

      <ul>
      <% loan_installment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :installment_no, 'Installment number' %>
    <%= form.number_field :installment_no, id: :loan_installment_installment_no, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :client %>
    <%= form.text_field :client, id: :loan_installment_client, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :from %>
    <%= form.datetime_select :from, id: :loan_installment_from %>
  </div>

  <div class="field form-group">
    <%= form.label :to %>
    <%= form.datetime_select :to, id: :loan_installment_to %>
  </div>

  <div class="field form-group">
    <%= form.label :principal_amount %>
    <%= form.text_field :principal_amount, id: :loan_installment_principal_amount, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :interest_amount %>
    <%= form.text_field :interest_amount, id: :loan_installment_interest_amount, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :emi_installment, 'EMI installment' %>
    <%= form.text_field :emi_installment, id: :loan_installment_emi_installment, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :state %>
    <%= form.select :state, LoanInstallment.states, {}, id: :loan_installment_state, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, id: :loan_installment_notes, class: 'form-control' %>
  </div>

  <div class="actions form-group">
    <%= form.submit class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
