
<div class="row" >
	<div class="col-md-12">

		<!-- Pagination -->
		<div class="center_pagination">
			<%= will_paginate @articles %>
		</div>

		<% @articles.each do | article | %>
				<div class="row">
						<div class="col-md-10 col-centered">

								<div class="panel panel-default">

									

										<div class="panel-heading panel-heading-custom-public">
											<div class="row">
												<div class="col-md-12">
													<div class="panel_title_to_the_left" style="text-align: center;">
														<%= article.title %>
													</div>

													<div class="panel_buttons_to_the_right">
														<%= link_to 'Show', show_article_financing_path(article), class: 'btn btn-sm btn-default' %> 
													</div>
												</div>
											</div>
											<!-- Row End -->

										</div>
										<!-- Panel Heading End -->

										<div class="panel-body">

											<div class="col-md-6" style="margin-bottom: 25px;">
											   <!-- Show this if no profile Image -->
											    <%= image_tag("450x300.jpg", alt: "#{article.title}.jpg", class: "img-responsive") unless article.image.present? %>

											    <!-- Show this if there's a profile Image -->
											    <%= image_tag(article.image.img_450.url, alt: "#{article.title}.jpg", class: "center-block img-responsive") if article.image.present? %>
											</div>

											<div class="col-md-6">
												<blockquote style="font-size: 1em;">
													<%= truncate(article.body, length: 300) { link_to 'continue reading', show_article_financing_path(article), class: "ikumai" } %>
														
												</blockquote>
											</div>
										</div>
										<!-- Panel Body End -->

										<div class="panel-footer">
											<div class="date_right_small"><%= article.created_at.to_date %></div>
										</div>

								</div>
								<!-- End Panel -->

						</div>
						<!-- End col-md-10 -->
				</div>
				<!-- row -->

				
		<% end %>
		<!-- End each -->

		<!-- Pagination -->
		<div class="center_pagination">
			<%= will_paginate @articles %>
		</div>

	</div>
</div>
