
<div class="row">
	<div class="col-md-12">

		<!-- The Container -->
		<div class="row">
			<div class="col-md-10 col-centered">

				<div>
					<%= image_tag 'report_header.PNG', alt: 'ACGECCO', class: 'img-responsive col-centered' %>
				</div>

				<!-- The Body -->
				<div>

					<h3><center>Contacts</center></h3>
					<br>

					<h4><cetner>Contact us</cetner></h4>

					<p>
						We welcome your suggestions and comments on our services. This unit is dedicated to handle complaints, opinions and appreciations from the public.
					</p>

					<br>

					<div class="col-md-5">

						<blockquote>
							<table class="table">
								<tbody>
									<tr>
										<td>Telephone</td>
										<td>689-4500</td>
									</tr>

									<tr>
										<td>Fax</td>
										<td>689-4532</td>
									</tr>

									<tr>
										<td>Email</td>
										<td>feedback@antipolo.ph</td>
									</tr>

								</tbody>
							</table>
							
						</blockquote>

					</div>
					<!-- End col-md-5 -->
					


				</div>
				<!-- Body End -->

				
				<!-- Named Anchor -->
				<a name="comments_section" id="comments_section"></a>


				<!-- Comments -->
				<div class="row">

					<div class="col-md-5">
						<% if current_client %>
							<%= form_with model: Conversation.new, local: true do | form | %>
								<div class="form-group">
									<%= form.label :subject, 'Start a Conversation' %>
									<%= form.text_field :subject, class: 'form-control', placeholder: 'Subject' %>
								</div>

								<div class="form-group">
									<%= form.submit class: 'btn btn-sm btn-info' %>
								</div>
							<% end %>
						<% end %>


						<div id="conversation">
							<% if current_client && current_client.conversations.present? %>
								<% @conversation = current_client.conversations.last %>

								<div class="panel panel-default">
									<div class="panel-heading panel-heading-custom-public">
										<div class="panel-title"><%= @conversation.subject if @conversation %></div>
									</div>
									<!-- Well Header -->

									<div class="panel-body">
										
										<%= form_with model: [@conversation, @conversation.comments.new], local: true do | form | %>
											<div class="form-group">
												<%= form.label :body, 'Comment:' %>
												<%= form.text_area :body, class: 'form-control', placeholder: 'Your Comment' %>
											</div>

											<div class="form-group">
												<%= form.submit 'Post Comment', class: 'btn btn-sm btn-success' %>
											</div>
										<% end %>
										<!-- Form End -->

										<% if @conversation.comments.count > 0 %>
											<% @conversation.comments.each do | comment | %>

												<div class="well">
													<%= comment.body %>
												</div>
											<% end %>
										<% end %>
										<!-- comments present end -->


									</div>
									<!-- Panel Body End -->

								</div>
								<!-- Panel End -->

							<% end %>
							<!-- End if -->
						</div>
						<!-- Div, Conversation End -->

					</div>

				</div>

				<!-- Comments -->


			</div>
		</div>
		<!-- End Container -->


	</div>
	<!-- End col-md-12 -->
</div>
<!-- End Row -->