<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->



<div class="row">

	<% if comment.commenter_class == UserClass.user_classes[:client] %>
		<div class="col-md-10 pull-right">
			<div class="panel panel-info">

				<div class="panel-heading">
					<div class="row">
						<div class="col-md-12">
							
							<div class="panel_left">


								<% user = Comment.find_commenter(comment.commenter, comment.commenter_class) %>

                          		<%= render_profile_image_for(user, true) %>

								<%= ("#{user.user_name} (#{user.class.name.underscore})" if comment.commenter) || "Anonymous" %>

							</div>

							<div class="panel_right">
								<%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
							</div>
						</div>

					</div>
				</div>
				<div class="panel-body">
					<%= comment.body %>
				</div>
			</div>
		</div>
		<!-- col-md-10 End -->
	<% else %>
		<div class="col-md-10">
			<div class="panel panel-success">

				<div class="panel-heading">
					<div class="row">
						<div class="col-md-12">
							
							<div class="panel_left">

								<% user = Comment.find_commenter(comment.commenter, comment.commenter_class) %>

                          		<%= render_profile_image_for(user, true) %>

								<%= ("#{user.user_name} (#{user.class.name.underscore})" if comment.commenter) || "Anonymous" %>

							</div>

							<div class="panel_right">
								<%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
							</div>
						</div>

					</div>
				</div>
				<div class="panel-body">
					<%= comment.body %>
				</div>
			</div>
		</div>
		<!-- col-md-10 End -->
	<% end %>
	<!-- If End -->


</div>