<!-- 2018-04-21

Title:
  Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
  Leopoldo Deogenes P. Cuesta II
  BS-IT Student
  AMA Computer University, College of East Rizal -->


<%= form_with(model: loan_doc, local: true) do |form| %>
  <% if loan_doc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan_doc.errors.count, "error") %> prohibited this loan_doc from being saved:</h2>

      <ul>
      <% loan_doc.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :loan_doc_name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :compulsory %>
    <%= form.check_box :compulsory, id: :loan_doc_compulsory %>
  </div>

  <div class="actions form-group">
    <%= form.submit( ("Edit Required Document" if action_name == 'edit') || 'Save Required Document', class: 'btn btn-lg btn-success') %>
  </div>
<% end %>
