<p id="notice"><%= notice %></p>

<h1>Loan Docs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Compulsory</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loan_docs.each do |loan_doc| %>
      <tr>
        <td><%= loan_doc.name %></td>
        <td><%= loan_doc.compulsory %></td>
        <td><%= link_to 'Show', loan_doc %></td>
        <td><%= link_to 'Edit', edit_loan_doc_path(loan_doc) %></td>
        <td><%= link_to 'Destroy', loan_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan Doc', new_loan_doc_path %>
