<div class="row">
  <div class="col-md-6 col-centered">

        <!-- Panel Table -->
        <div class="panel panel-default">

          <div class="panel-heading panel-heading-custom">
            <div class="panel_title_to_the_left">
              Loan Documents
            </div>
            <div class="panel_buttons_to_the_right">
              <%= link_to 'New Loan Doc', new_loan_doc_path, class: "btn btn-sm btn-success" %>
            </div>
          </div>

          <div class="panel-body">
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Compulsory</th>
                      <th colspan="3"></th>
                    </tr>
                  </thead>

                  <tbody>
                    <% @loan_docs.each do |loan_doc| %>
                      <tr>
                        <td><%= loan_doc.name %></td>
                        <td><%= loan_doc.compulsory %></td>
                        <td><%= link_to 'Show', loan_doc %></td>
                        <td><%= link_to 'Edit', edit_loan_doc_path(loan_doc) %></td>
                        <td><%= link_to 'Destroy', loan_doc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- End of Table Responsive -->
          </div>
          <!-- End Panel Body -->

        </div>
        <!-- Table Panel End -->

  </div>
  <!-- col-md-8 End -->
</div>
<!-- End Row -->