<!-- 2018-04-21

Title:
  Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
  Leopoldo Deogenes P. Cuesta II
  BS-IT Student
  AMA Computer University, College of East Rizal -->



<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  


  <div class="field form-group">
    <%= form.label :image %>
    <%= form.file_field :image, accept: "image/jpg, image/jpeg, image/png, image/gif", id: :article_image %>
    <span><%= File.basename(article.image.url) if article.image.present? %></span>
  </div>


  <div class="field form-group">
    <%= form.label :title %>
    <%= form.text_field :title, id: :article_title, class:'form-control' %>
  </div>


  <div class="field form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :article_body, class:'form-control', rows: 10 %>
  </div>


  <div class="field form-group">
    <%= form.label :position %>
    <%= form.select :position, 1..@article_count, {}, id: :article_title, class:'form-control' %>
  </div>



  <div class="actions">
    <%= form.submit class: 'btn btn-lg btn-success' %>
  </div>
<% end %>
