<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @activity_log.user_id %>
</p>

<p>
  <strong>User class:</strong>
  <%= @activity_log.user_class %>
</p>

<p>
  <strong>User name:</strong>
  <%= @activity_log.user_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @activity_log.email %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @activity_log.last_name %>
</p>

<p>
  <strong>First name:</strong>
  <%= @activity_log.first_name %>
</p>

<p>
  <strong>Middle name:</strong>
  <%= @activity_log.middle_name %>
</p>

<p>
  <strong>Sign in count:</strong>
  <%= @activity_log.sign_in_count %>
</p>

<p>
  <strong>Current sign in at:</strong>
  <%= @activity_log.current_sign_in_at %>
</p>

<p>
  <strong>Last sign in at:</strong>
  <%= @activity_log.last_sign_in_at %>
</p>

<p>
  <strong>Current sign in ip:</strong>
  <%= @activity_log.current_sign_in_ip %>
</p>

<p>
  <strong>Last sign in ip:</strong>
  <%= @activity_log.last_sign_in_ip %>
</p>

<p>
  <strong>Browser:</strong>
  <%= @activity_log.browser %>
</p>

<p>
  <strong>Controller:</strong>
  <%= @activity_log.controller %>
</p>

<p>
  <strong>Action:</strong>
  <%= @activity_log.action %>
</p>

<p>
  <strong>Params:</strong>
  <%= @activity_log.params %>
</p>

<p>
  <strong>Note:</strong>
  <%= @activity_log.note %>
</p>

<%= link_to 'Edit', edit_activity_log_path(@activity_log) %> |
<%= link_to 'Back', activity_logs_path %>
