
<div class="col-md-11 col-centered">
	<div class="well">
		<div class="row">

		<div class="col-md-11 col-centered">

		<div class="well-title"><%= @loan.string_id %> Accounting Entries</div>
		

		<% @accounting_entries.each do |accounting_entry| %>
			
			<div class="panel panel-info">
				<div class="panel-heading">

					<div class="panel-title panel_title_to_the_left"><%= accounting_entry.title.titleize %></div>

					<div class="panel_buttons_to_the_right">
						<%= link_to "Edit", edit_accounting_entry_path(accounting_entry), class: "btn btn-sm btn-default" %>
					</div>
					
				</div>

				
				<div class="panel-body">

					<div class="row">

						<div class="col-md-10 col-centered">


							<table class="table">

								<tr>
									<th><%= accounting_entry.entry_date.to_date %></th>
									<th>Description</th>
									<th>Credit</th>
									<th>Debit</th>

								</tr>

								<% accounting_entry.dr_entries.each do | dr_entry | %>
									<tr>
										<td></td>
										<td><%= dr_entry.description %></td>
										<td><%= number_to_currency dr_entry.value, unit: "Php " %></td>
										<td></td>
									</tr>
								<% end %>


								<% accounting_entry.cr_entries.each do | cr_entry | %>
									<tr>
										<td></td>
										<td><%= cr_entry.description %></td>
										<td></td>
										<td><%= number_to_currency cr_entry.value, unit: "Php " %></td>
									</tr>
								<% end %>

								<tr>
									<td></td>
									<td><em><%= accounting_entry.description %></em></td>
									<td></td>
									<td></td>
								</tr>

							</table>


							<div class="panel-footer">
								<p><strong>Principal balance:</strong> <%= number_to_currency accounting_entry.principal_balance, unit: "Php " %></p>
								<p><strong>Interest income balance:</strong> <%= number_to_currency accounting_entry.interest_income_balance, unit: "Php " %></p>
							</div>
							

						</div>
						<!-- col-md-10 End -->

					</div>
					<!-- End of Row -->

				</div>
				<!-- Panel Body End -->




			</div>
			<!-- Panel End -->

		<% end %>
		<!-- accounting_entries.each End -->


	</div>
</div>

	</div>
	<!-- Well End -->

</div>
