


<!-- Panel Table -->
<div class="panel panel-default">

  <div class="panel-heading panel-heading-custom">
    <div class="panel_title_to_the_left">
      Accountant Profiles
    </div>
  </div>

  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
        <tr>
          <th>User name</th>
          <th>Image</th>
          <th>Email</th>
          <th>Last Name</th>
          <th>First Name</th>
          <th>Mobile</th>

          <!-- For the Action -->
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @accountant_profiles.each do |accountant_profile| %>
            <% accountant = accountant_profile.accountant %>
            <tr>
              <td><%= accountant.user_name %></td>
              <td><%= image_tag accountant_profile.image.img_32.url, alt: "#{accountant.user_name}.jpg" %></td>
              <td><%= accountant.email %></td>
              <td><%= accountant.last_name %></td>
              <td><%= accountant.first_name %></td>
              <td><%= accountant_profile.mobile %></td>
             
              <td><%= link_to 'Show', accountant_profile %></td>
              <td><%= link_to 'Edit', edit_accountant_profile_path(accountant_profile) %></td>

              <% if system_user? %>
                <td><%= link_to 'Destroy', accountant_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              <% end %>
            </tr>
        <% end %>
      </tbody>
    </table>


  </div>
  <!-- table-responsive End -->
</div>
<!-- Table Panel End -->

<br>


