<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


<%= form_with model: dr_entry, local: true do | form |  %>
	<div class="field form-group">

		<%= form.label :description %>
		<%= form.text_field :description, id: :dr_entry_description, class:'form-control' %>

	</div>


	<div class="field form-group">

		<%= form.label :value %>
		<%= form.text_field :value, id: :dr_entry_value, class:'form-control' %>

	</div>


	<div class="actions form-group">
	    <%= form.submit "Update Debit", class: "btn btn-lg btn-success" %>
	</div>

<% end %>