<nav class="navbar navbar-default">
    <div class="container-fluid">


        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="navbar-brand"><%=link_to "CUESTA", root_path %></div>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <!-- Left Links and Dropdowns -->
            <ul class="nav navbar-nav">
              <li><a href="#">Link <span class="sr-only">(current)</span></a></li>
              <li><a href="#">Link</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>


              <!-- Test Links 1 -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test Links <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Admin Sign in", new_admin_session_path %></li>
                  <li><%= link_to "Admin Profiles", admin_profiles_path %></li>
                  <li><%= link_to "Loan Manager Sign in", new_loan_manager_session_path %></li>
                  <li><%= link_to "Loan Manager Profiles", loan_manager_profiles_path %></li>
                  <li><%= link_to "Accountant Sign in", new_accountant_session_path %></li>
                  <li><%= link_to "Accountant Profiles", accountant_profiles_path %></li>
                  <li><%= link_to "Member Sign in", new_client_session_path %></li>
                  <li><%= link_to "Member Profiles", client_profiles_path %></li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Clients Activation Review", clients_account_activations_path %> </li>
                  <li><a href="#">Separated link</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <!-- Test Links 1 End -->


              <!-- Test Link 2 -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Test Links <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Define Loan Type", new_loan_type_path %></li>
                  <li><%= link_to "Define Required Documents", new_loan_doc_path %></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>

                  <li role="separator" class="divider"></li>

                  <li><%= link_to "Apply new Loan", new_loan_path %></li>
                  <li><a href="#">Separated link</a></li>

                  <li role="separator" class="divider"></li>

                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
              <!-- Test Link 2 End -->



            </ul>
            <!-- Left Links End -->


            <!-- Search Bar -->
           <!--  <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> -->
            <!-- Search Bar End -->



            <!-- Right Links & Dropdown -->
            <ul class="nav navbar-nav navbar-right">

              <!-- User Logout -->
              <li>
                <% if admin_signed_in? %>
                    <%= link_to("Admin sign out", destroy_admin_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
                  
                <% elsif loan_manager_signed_in? %>
                    <%= link_to("Loan Manager sign out", destroy_loan_manager_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
                <% elsif accountant_signed_in? %>
                    <%= link_to("Accountant sign out", destroy_accountant_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
                <% elsif client_signed_in? %>
                    <%= link_to("Member sign out", destroy_client_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
               
                <% else %>
                <% end %>

              </li>
              <!-- User Logout End -->

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Loan Manager Sign in", new_loan_manager_session_path %></li>
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </li>
            </ul>
            <!-- Right Links End -->


        </div>
        <!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>