<nav class="navbar navbar-default nav-custom">
    <div class="container-fluid">


        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <%= image_tag "ecco_symbol_white_50.png", style: "margin-right: 15px;", id: "top"%>

            <div class="navbar-brand"><%=link_to "ACGECCO", root_path, class: 'link-shiraishi brand' %></div>

        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


            <!-- Left Links and Dropdowns -->
            <ul class="nav navbar-nav">
              




              <!-- Home -->
              <li>
                <%= link_to 'Home', root_path %>
              </li>
              <!-- Home End -->



              

              <!-- Articles -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Articles<span class="caret"></span></a>
                <ul class="dropdown-menu">


                  <li><%= link_to 'Featured', featured_article_financing_index_path %></li>
                  <li><%= link_to "All Articles", articles_financing_index_path %></li>


                </ul>
              </li>
              <!-- Articles -->


              
              <!-- Services -->
              <li>
                <%= link_to 'Services', services_financing_index_path %>
              </li>
              <!-- Services End -->




                <!-- Articles Management -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> About Us <span class="caret"></span></a>
                <ul class="dropdown-menu">

                  <li><%= link_to "Organization", organization_financing_index_path %></li>
                  <li><%= link_to "Vision and Mission", vision_financing_index_path %></li>

                </ul>
              </li>
              <!-- Articles Management End -->




              <!-- Contacts -->
              <li class="dropdown"><%= link_to 'Contacts', contacts_financing_index_path %></li>
              <!-- Contacts End -->


              <!-- Loans -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Loans <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Send a Request", new_loan_path %></li>
                  
                  <% if current_client && current_client.client_profile %>
                    <li role="separator" class="divider"></li>
                    <% if current_client && current_client.client_profile.count > 0 %>
                      <li><%= link_to("My Loan Requests", show_loan_requests_client_profile_path(current_client.client_profile.id)) %></li>
                    <% end %>
                  <% end %>

                </ul>
              </li>
              <!-- Loans End -->


              <!-- Help -->
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Quick Start Video & FAQs", help_financing_index_path %></li>
                  <li role="separator" class="divider"></li>
                  <li><%= link_to "Link to Management (To be Removed)", management_path %></li>
                </ul>
              </li>
              <!-- Help End -->



            </ul>
            <!-- Left Links End -->


            <!-- Search Bar -->
           <!--  <form class="navbar-form navbar-left">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form> -->
            <!-- Search Bar End -->



            <!-- Right Links & Dropdown -->
            <ul class="nav navbar-nav navbar-right">

                  <!-- User Profile -->
                  <% if current_admin || current_accountant || current_loan_manager || current_client %>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">

                          <!-- Profile Image -->
                          <%= render_profile_image_for(pundit_user) %>
                          <!-- End Profile Image -->

                          <span ><strong><%= pundit_user.user_name.downcase %></strong></span>

                          <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          
                                <!-- Link to Profiles -->
                                <% if admin_signed_in? %>

                                    <% path = (current_admin.admin_profile if current_admin.admin_profile) || new_admin_profile_path %>
                                    
                                    <li><%= link_to "My Profile", path %></li>
                                    
                              
                                <% elsif loan_manager_signed_in? %>

                                    <% path = (current_loan_manager.loan_manager_profile if current_loan_manager.loan_manager_profile) || new_loan_manager_profile_path %>
                                    <li><%= link_to "My Profile", path %></li>

                                <% elsif accountant_signed_in? %>

                                    <% path = (current_accountant.accountant_profile if current_accountant.accountant_profile) || new_accountant_profile_path %>
                                    <li><%= link_to "My Profile", path %></li>

                                <% elsif client_signed_in? %>

                                    <% path = (current_client.client_profile if current_client.client_profile) || new_client_profile_path %>
                                    <li><%= link_to "My Profile", path %></li>

                                <% end %>
                                <!-- End Link to Profiles -->


                                <li role="separator" class="divider"></li>


                                 <!-- User Logout -->
                                <li>
                                  <% if admin_signed_in? %>
                                      <%= link_to("Admin Sign Out", destroy_admin_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
                                    
                                  <% elsif loan_manager_signed_in? %>
                                      <%= link_to("Loan Manager Sign Out", destroy_loan_manager_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
                                  <% elsif accountant_signed_in? %>
                                      <%= link_to("Accountant Sign Out", destroy_accountant_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
                                  <% elsif client_signed_in? %>
                                      <%= link_to("Member Sign Out", destroy_client_session_path, method: :delete, data: {confirm: 'Confirm sign out?'} )  %>
                                 
                                  <% else %>
                                      <%= link_to("Manager Sign In", new_loan_manager_session_path)  %>
                                  <% end %>

                                </li>
                                <!-- User Logout End -->


                        </ul>
                      </li>
                  <% else %>
                      <li><%= link_to("Member Sign In", new_client_session_path)  %></li>
                  <% end %>
                  <!-- End User Profile -->


            </ul>

          </ul>
          <!-- Right Links End -->


        </div>
        <!-- /.navbar-collapse -->


    </div><!-- /.container-fluid -->
</nav>