<!-- 2018-04-21

Title:
	Online Lending and Loan Management with Accounting and Decision Support System for Antipolo City Government Employees Credit Cooperative

Author: 
	Leopoldo Deogenes P. Cuesta II
	BS-IT Student
	AMA Computer University, College of East Rizal -->


<!DOCTYPE html>
<html>
	  	<head>
		    <title><%= "#{controller_name} #{action_name}" if controller_name.present? %></title>
		    <%= csrf_meta_tags %>

		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    
		    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  	</head>
	<body>

		<!-- Navigation -->
		<%= render partial: 'layouts/navigation' %>
		<!-- Navigation -->


		<!-- Container -->
		<div class="container col-md-12">
			<!-- flash messages -->
	      	<%= render partial: 'layouts/the_flash' %>
			<!-- Flash message End -->

		  	<!-- Yield -->
		  	<%= yield %>
		  	<!-- Yield End -->
	  	</div>
	  	<!-- Container End -->


	  	<%= render partial: 'layouts/footer' %>
	</body>
</html>
