<!DOCTYPE html>
<html>
	  	<head>
		    <title>Cuesta</title>
		    <%= csrf_meta_tags %>

		    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	  	</head>
	<body>


		<!-- Flash message -->
		<% flash.each do | message_type, message | %>
			<div id="flash" class="flash-<%= message_type %>" ><%= message %></div>
		<% end %>
		<!-- Flash message End -->





	  	<!-- Yield -->
	  	<%= yield %>
	  	<!-- Yield End -->

	</body>
</html>
